body {margin: 0px 0px 0px 0px; font: 13px "Trebuchet MS", sans-serif; font-weight: normal; background-color: #fff;}
a {text-decoration: none; color: black;}
a:hover {text-decoration: underline;}

#disabledZone {
	filter:opacity(alpha=60); /* para o IE */
    -moz-opacity:0.6; /* para o FireFox */
    opacity:0.6; /* para o outros Navegadores */

background-color: black;}

/**
 *	ERROS CAMPOS
 */
.error { color: red; }
.error_field { background-color:yellow }

/**
 * DIV PARA CRIAR TABELAS
 */
#table {margin: 0 auto;	}
#line {vertical-align: middle; }
#column{float: left; height: 100%;}

/**
 * CONFIGURACOES DAS DIV E COMPONENTES DO LOGIN
 */
.conteudo #line #column #j_username {width: 180px;position: relative; left: 20px;}
.conteudo #line #column input {width: 180px;position: relative; left: 30px;}
.conteudo #line #column select {width: 180px;position: relative; left: 25px;}
.conteudo #line #column {width: 300px;line-height:50px;text-align: left;font-weight: bold;margin-left: 20px;}

/**
 * DIV PARA LOGIN - BORDAS COM CANTOS ARREDONDADOS
 */
.bordaBox {background: transparent; width:100%; height: 100%;}
.bordaBox .b1, .bordaBox .b2, .bordaBox .b3, .bordaBox .b4 {display:block; overflow:hidden; font-size:1px;}
.bordaBox .b1, .bordaBox .b2, .bordaBox .b3 {height:1px;}
.bordaBox .b2, .bordaBox .b3, .bordaBox .b4 {background: #93D4FF; border-left:1px solid black; border-right:1px solid black; }
.bordaBox .b1 {margin:0 5px; background: black;}
.bordaBox .b2 {margin:0 3px; border-width:0 2px;}
.bordaBox .b3 {margin:0 2px;}
.bordaBox .b4 {height:2px; margin:0 1px;}
.bordaBox .conteudo {padding:5px;display:block; background: #47B5FF; background-image: url('../imagens/fundo_login2.jpg'); border-left:1px solid black; border-right:1px solid black;}

/**
 * DIV PARA TITULO LOGIN
 */
#login {background: transparent;position: absolute;	top: 113px; left: 220px; z-index: 1000;	width: 90px;}
#login .bordaBox .bordaBox .b2, #login .bordaBox .b3, #login .bordaBox .b4 {background: #FFFFFF;}
#login .bordaBox div {display: block; background: #FFFFFF; border-left:1px solid black; border-right:1px solid black; text-align: center;font-weight: bold;}

/**
 * CLASSES PARA OS TEXTOS
 */
.menu_titulo {color: #333333; font-weight: normal;}

.menuLado {font-weight: normal; margin-top: 5px; margin-bottom: 5px;}

.menuLadoSel {font-weight: bold; margin-top: 10px; margin-bottom: 10px;}

.menu1 {color: #ffffff;	font-weight: bold; text-decoration: none;}

.menu2 {font-weight: normal; text-decoration: none;}

.pages {font: 12px Verdana, Arial, Helvetica, sans-serif;color: #003399;}

.ui_foot {height: 85px; color: #fff; font-size: 10px;}

.titulo_confirmacao {color: #ffffff; font-weight: bold; text-decoration: none; font-size: 14px;}

.titulo_notificacoes {color: #ffffff; font-weight: bold; text-decoration: none; font-size: 14px;}

.notificacao {color: red; font-weight: bold;}

/**
 * CLASSES PARA OS LINKS
 */
.l_edicao_vis {color: red;	font-weight: normal; text-decoration: none;}


/**
 * CLASSES PARA OS SPAMs
 */
#s_editar {margin-right: 20px;}
#s_visualizar {margin-left: 20px;}
#s_checar {margin-left: 2px;}

/**
 * DIVS DO MENU LATERAL
 */
 #divMenuLateral {margin-bottom: 10px;}
 #divMenuLateralSel {margin-top: 10px; margin-bottom: 10px; font-weight: bold;}
 
 /**
 * LISTA DE DOCUMENTOS
 */
 .div_docs {
	 vertical-align: middle;
	 line-height:30px;
	 text-align: left;
	 float: left;
	 width: 100%; 
	 height: 30px; 
	 border-bottom: 1px solid gray;
	 position: static;
	 z-index: 0;
	 font-size: 12px;
 }
 .img_docs{	margin-left: 10px; position: absolute; margin-top: 4px}
 #doc_tipo {margin-left: 40px}
 
 .prio_n_docs{ background-color: #FFF; padding: 6px 14px 6px 13px; vertical-align: top;
	 line-height:30px; margin-left: 68px; margin-right: 10px; font-weight: bold;}
 .prio_u_docs{ background-color: #FFFF00; padding: 6px 14px 6px 13px; vertical-align: top;
	 line-height:30px; margin-left: 68px; margin-right: 10px;font-weight: bold; }
 .prio_uu_docs{ background-color: #FF0000; padding: 7px 8px 6px 10px; vertical-align: top;
	 line-height:30px; margin-left: 68px; margin-right: 10px;font-weight: bold;}
 
 .data_docs{float: right;color: gray; font-style: italic;}
 
 /**
 * ESTILO PAGINA VISUALIZACAO DE DOCUMENTO (documento.html)
 */
  
#link_titulo {font-weight: bold;}

#line .div_title_anotacoes {margin-top: 10px; background-color: #B8C9DD; position: relative; width: 822px; height: 30px; text-align: center; line-height:30px;}

.celula{border-bottom: 1px solid gray; background-color: #FFFFCC; position: relative; width: 812px; text-align: left; }
	.anotacao {color: blue;}
	.despacho {color: blue;}
	.historico {color: red;}
.celula p {margin: 0 5px 0 5px;}

#historico {display: none;}

.anexos {
	border-bottom: 1px solid gray; 
	background-color: #FFFFCC; 
	position: relative; 
	width: 812px; 
	height: 25px; 
	text-align: center; 
	line-height: 25px;	
	cursor: pointer;
}

.ui_action_title{
	margin-top: 10px; 
	background-color: #B8C9DD;
	position: relative;
	width: 812px;
	height: 30px;
	text-align: center;
	line-height:30px;
}

/**
 * ESTILO PAGINA DE PESQUISA (pesquisar.html)
*/

input,select,textarea {
	border:1px solid #444;
	background-color:#fff;
	padding:2px;
	
	/* CSS3 spicing */
	text-shadow:1px 1px 1px #ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;		
}

.field_inputs {
	/*border:1px solid #444;
	background-color:#79b7e7;
	padding:2px;*/
	background-color:#DFEFFC;
	
}

.field_inputs_shadow {-webkit-box-shadow: 0px 0px 6px #000;
	-moz-box-shadow: 0px 0px 6px #000;	}

input.field_inputs_active:focus { 
	color:#000; 
	background-color:#DFEFFC; 
	-moz-box-shadow: 0px 0px 6px red;
	-webkit-box-shadow: 0px 0px 6px red;
	}
input.field_inputs_active:active { background-color:red; }

/**
 * CHAT
*/
#chat {
	font-size: 80%;
	position: relative;
	margin-top: 20px;
	width: 150px; 
	border: 1px solid #000; 
	left: 5px;
	text-align: center;
	background-color: #B8C9DD;
	
	z-index: 999;
}

#chat div {
	position: relative; 
	width: 146px; 
	left: 2px;
}
#div_new {border-bottom: 1px solid #000; height: 35px;}
#div_new input {margin-top: 7px; width: 132px;font-size: 10px;font-style: italic;}

#div_status {background-color: #B8C9DD; font-weight: bold;}

#usuariosON {
	font-weight: normal; 
	font-size: 90%; 
	margin-top: 5px;
	max-width: 140px;
	color: #000;
}

#console_chat {
	min-height: 220px; 
	max-height: 220px;
	max-width: 146px;
	overflow: auto;  
	top: 2px;
	padding-bottom: 2px;
}

#console_chat p {}

.user0 {background-color: #FFA07A;}
.user1 {background-color: #90EE90;}
.user2 {background-color: yellow;}


#div_status span {font-style: normal;}

.offline,.alert {color: red;}
.inactive {color: yellow;}
.online {color: green;}
.session {color: gray;}

.messageChat {}

#topo {
	width: 100%;
	margin: 2px 0 0 2px;
	
}

#topo .left,.right {
	position: absolute;
	background-color: #1E90FF;
	max-width: 20px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}	

#topo .right {
	left: 121px;
}

#topo #welcome {
	margin: 0 3px 0 3px;
	max-width: 90px;
	position: absolute;
	left: 22px;
	cursor: pointer;
}

/**
 * PÁGINA FEED.HTML
*/
._font_feed{
	font-size: 9px;
}
._font_feed_titulo{
	font-size: 11px;
}
.ui_feed {
	width: 630px;
	background-color: #D8DFEA;
	float: left;
	margin: 0 27px 3px 27px;
	padding: 5px 0 5px 0;
	color: #000;
}

.ui_feed_remove{
	width: 20px; 
	float: right;
	background-color: #fff;
	padding: 2px 2px 2px 2px;
}
.ui_feed_remove:hover{
	background-color: #D8DFEA;
}

/**
 * UI
*/
.border_radius {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.ui_border_shadow {
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px #888;
	border: 1px solid #000;	
}

.ui_subMenu{
	line-height:30px; 
	height: 30px;			
}
.ui_main_body{
	margin-left: 2px; 
	float: right;
}
._width_main_body{
	width: 820px;
}
._font_white_bold{
	color: #fff;	
	font-weight: bold; 
	text-decoration: none;
}
._font_black_bold{
	color: #000;	
	font-weight: bold; 
	text-decoration: none;
}

