#box {
  padding: 10px;
  height: 100px;
  width: 100px;
  background: #e459e9;
}

#box-outer {
  overflow: hidden;
  height: 120px;
  margin: 20px;
  z-index: 9990;
}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:1000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:absolute;
  left:85px;
  top:0;
  width:1002px;
  height:500px;
  display:none;
  z-index:1001;
  background-color:#FFF;
  text-align: center;
  
}

#boxes #wgrupos {
  width:840px; 
  height:400px;
}

#boxes #wcomentar {
  width:700px; 
  height:180px;
  /* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #fff;
	-webkit-box-shadow:0 0 10px #fff;
}

#boxes #wpesquisar{
	width:550px; 
  height:auto;
  /* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #fff;
	-webkit-box-shadow:0 0 10px #fff;
}

._size_pesquisa{
  height: 40px;;
}


#boxes #wnovo_documento {
  width:300px; 
  height:100px;
}

#boxes #weditar {
  width:330px; 
  height:70px;
  /* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #fff;
	-webkit-box-shadow:0 0 10px #fff;
}

#boxes #wacao {
  width:700px; 
  height:auto;
  /* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #fff;
	-webkit-box-shadow:0 0 10px #fff;
}

#boxes #wanexar {
  width:370px; 
  height:155px;
  /* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #fff;
	-webkit-box-shadow:0 0 10px #fff;
}

#boxes #wchecar {
  width:370px; 
  height:auto;
  /* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #fff;
	-webkit-box-shadow:0 0 10px #fff;
}

#boxes #notificacoes {
  	font-size:12px;
	position: absolute;
	z-index: 9999;
	text-align: center;
	min-width: 200px;
	display: none;
	border:1px solid #000;
	background-color: white;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}

#boxes #wcontas {
  width:750px; 
  height:365px;
  background-color: #fff;
}

#boxes #waddcarteira{
  width:350px; 
  height:345px;
  background-color: #fff;
}

#boxes #weditcarteira{
  width:350px; 
  height:375px;
  background-color: #fff;
}


#boxes #waddgrupo{
  width:350px; 
  height:245px;
  background-color: #fff;
}


#bt_conf_edicao {
	border: 1px solid #006;
    background: #ccf
}
#bt_conf_edicao:hover {
	border: 1px solid #f00;
    background: #eef;
}